%ASSEMBLY_NAME%=MJohnsonTODO
%SHORT_NAME%=MJohnsonTODO
%RAKE_TASK_PREFIX%=mjohnsontodo
%FUBU_REGISTRY%=MJohnsonTODOFubuRegistry
%APPLICATION_SOURCE%=MJohnsonTODOApplication
%STRUCTUREMAP_REGISTRY%=MJohnsonTODORegistry
%PROJECT_PATH%=src/MJohnsonTODO/MJohnsonTODO.csproj
%PROJECT_FOLDER%=src/MJohnsonTODO
