<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>MJohnsonTODO</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="2.1.0.584" Mode="Fixed" />
    <Dependency Name="FubuCore" Version="1.3.0.278" Mode="Fixed" />
    <Dependency Name="FubuJson" Version="0.2.0.337" Mode="Fixed" />
    <Dependency Name="FubuLocalization" Version="1.1.0.182" Mode="Fixed" />
    <Dependency Name="FubuMVC.Core" Version="1.3.0.1710" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets" Version="0.9.9.560" Mode="Fixed" />
    <Dependency Name="FubuMVC.Core.UI" Version="1.0.1.611" Mode="Fixed" />
    <Dependency Name="FubuMVC.Core.View" Version="1.1.0.581" Mode="Fixed" />
    <Dependency Name="FubuMVC.Diagnostics" Version="0.9.8.379" Mode="Float" />
    <Dependency Name="FubuMVC.JQueryUI" Version="0.5.0.342" Mode="Fixed" />
    <Dependency Name="fubumvc.json" Version="0.1.0.380" Mode="Float" />
    <Dependency Name="FubuMVC.Media" Version="0.9.5.433" Mode="Fixed" />
    <Dependency Name="FubuMVC.Navigation" Version="0.9.1.208" Mode="Fixed" />
    <Dependency Name="fubumvc.spark" Version="1.1.0.594" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="1.3.0.1710" Mode="Float" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Version="0.0.0.644" Mode="Fixed" />
    <Dependency Name="FubuTestingSupport" Version="1.3.0.278" Mode="Float" />
    <Dependency Name="HtmlTags" Version="2.1.0.183" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="6.0.3" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="4.0.0-alpha3" Mode="Fixed" />
    <Dependency Name="spark" Version="1.7.5.3" Mode="Float" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>